
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReactApplication</title>
    <link rel="stylesheet" href="~/content/stylesheets/main.css" />
    <link rel="stylesheet" href="~/content/stylesheets/animation.css" />
</head>
<body>
    <div id="application"></div>
    <script src="~/content/javascript/libraries/react-15-4-2-with-addons.min.js"></script>
    <script src="~/content/javascript/libraries/react-dom-15-4-2.min.js"></script>
    <script src="~/content/javascript/compiledtypescript.js"></script>
</body>
</html>
