
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReactApplication</title>
    <link rel="stylesheet" href="~/content/stylesheets/main.css" />
</head>
<body>
    <div id="application"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
    <script src="~/content/javascript/compiledtypescript.js"></script>
</body>
</html>
